<?xml version="1.0" encoding="UTF-8" ?>
<linker>
  <!--Entire assembly-->
  <!--<assembly fullname="XamEffects.Droid" />-->

  <!--All of the types in the assembly-->
  <!--<assembly fullname="XamEffects.Droid">
    <type fullname="*" />
  </assembly>-->

  <!--Specific type in the assembly-->
  <!--<assembly fullname="XamEffects.Droid">
    <type fullname="XamEffects.Droid.TouchEffectPlatform" />
  </assembly>-->

  <!--Specific method in the type in the assembly-->
  <!--<assembly fullname="XamEffects.Droid">
    <type fullname="XamEffects.Droid.TouchEffectPlatform">
      <method name=".ctor" />
    </type>
  </assembly>-->
</linker>